@page {
  margin: 2cm;
}


body {
  color: #222;
  font-size: 20pt;
  max-width: 25em;
  font-family: Tallys;
  margin: auto;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-top: 1.4em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.41em;
}

h3 {
  font-size: 1em;
  text-decoration: underline;
}

h4 {
  font-size: 1em;
}

h4:before {
  content: '> ';
}

h1 + p {
  margin: 0;
}

h1 + p + p {
  border-top: 0.1mm solid black;
  border-bottom: 0.1mm solid black;
  margin: 1.5em 0;
  padding: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-align: justify;
}

ul {
  padding-left: 1.5em;
}

ul, p {
  page-break-inside: avoid;
}

sup {
  font-size: 0.65em;
}

img, object {
  display: block;
  margin: auto;
}

.contents .first {
  font-size: 1.4em;
  margin-top: 1.4em;
  margin-bottom: 0.6em;
}

.contents ul {
  list-style-type: none;
  margin: 0.2em 0;
  padding-left: 0;
}

.contents ul ul {
  padding-left: 0.5em;
}

.contents ul ul li:before {
  content: "- ";
}

.contents ul ul ul li:before {
  content: "+ ";
}