* {
  margin: 0;
  padding: 0;
}

html {
  background: white;
  font-family: Tallys;
}

body {
  background: red;
  border: solid black 0.12in;
  border-radius: 4mm;
  box-sizing: border-box;
  height: 88mm;
  margin: 1em;
  position: relative;
  width: 58mm;
}

header {
  background: yellow;
  height: 9.5mm;
  line-height: 10mm;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 8mm;
  vertical-align: middle;
  width: 100%;
}

h1 {
  display: inline-block;
  line-height: 5mm;
  font-size: 4mm;
  font-weight: normal;
}

#type {
  bottom: 2mm;
  font-size: 4mm;
  left: 5mm;
  line-height: 5mm;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

#material {
  font-size: 4mm;
  left: 2mm;
  line-height: 8mm;
  position: absolute;
  top: 0;
}

main {
  background: blue;
  bottom: 2mm;
  left: 5mm;
  padding: 2mm;
  position: absolute;
  right: 2mm;
  top: 20mm;
}

.type-ma main {
  text-align: center;
  font-size: 30mm;
  line-height: 55mm;
}