@page {
  margin: 2cm;
  background-position: -2cm -2cm;
  background-size: 21cm 29.7cm;
}

@page:left {
  background-image: url(fond_regled.jpg);

}

@page:right {
  background-image: url(fond_regle.jpg);
}

body {
  color: #222;
  font-size: 20pt;
  max-width: 25em;
  font-family: Tallys;
  margin: auto;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-top: 1.4em;
  margin-bottom: 0.6em;
}

h1 + p {
  margin: 0;
}

h1 + p + p {
  border-top: 0.1mm solid black;
  border-bottom: 0.1mm solid black;
  margin: 1.5em 0;
  padding: 1em;
}

h3, h4 {
  text-decoration: underline;
}

p {
  text-align: justify;
}

ul {
  padding-left: 1.5em;
}

ul, p {
  page-break-inside: avoid;
}

sup {
  font-size: 0.65em;
}

img, object {
  display: block;
  margin: auto;
}
