* {
  box-sizing: border-box;
  font-size: 4cm;
  margin: 0;
  padding: 0;
}

html {
  background: rgba(0, 0, 0, 0.01);
  font-family: Tallys;
}

body {
  background: white;
  border: solid black 3cm;
  border-radius: 4cm;
  height: 88cm;
  margin: 1em;
  position: relative;
  width: 56cm;
}

header {
  background: rgba(0, 0, 0, 0.1);
  height: 9.5cm;
  line-height: 10cm;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 7.5cm;
  vertical-align: middle;
  width: 100%;
}

h1 {
  display: inline-block;
  font-weight: normal;
  line-height: 5cm;
}

#type {
  bottom: 2cm;
  left: 5.5cm;
  line-height: 5cm;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

#material {
  left: 2cm;
  line-height: 8cm;
  position: absolute;
  top: 0;
}

#ma-points {
  right: 2cm;
  line-height: 8cm;
  position: absolute;
  top: 0;
}

#mi-points, #sp-points {
  background: rgba(0, 0, 0, 0.1);
  line-height: 100%;
  left: 50%;
  padding: 0.2em;
  position: absolute;
  text-align: center;
  width: 2em;
}

#sp-points {
  border-radius: 1.5cm 1.5cm 0 0;
  bottom: 2cm;
  margin-left: -0.7em;
}

#mi-points {
  border-radius: 0 0 1.5cm 1.5cm;
  top: 0cm;
  margin-left: -1em;
}

#symbol {
  background: white;
  bottom: 0;
  border-radius: 1em 0 1em 0;
  line-height: 1em;
  padding: 0.5em 0.7em 0.5em 0.4em;
  position: absolute;
  right: 0;
  vertical-align: bottom;
}

img {
  border: 0.4cm solid black;
  bottom: 2cm;
  display: block;
  height: 25cm;
  left: 2cm;
  position: absolute;
  right: 2cm;
  top: 19cm;
  width: 46cm;
}

main {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1cm;
  bottom: 2cm;
  height: 60cm;
  left: 5cm;
  padding: 2cm;
  position: absolute;
  right: 2cm;
}

.type-ma main {
  font-size: 20cm;
  line-height: 50cm;
  text-align: center;
}

@page {
  margin: 0;
  size: 24.88in 37.4in;
}

@media print {
  html {
    height: 37.4in;
    width: 24.88in;
    background: black;
  }

  body {
    border: solid black 6cm;
    border-radius: 8cm;
    height: 94cm;
    left: 50%;
    margin: -47cm -31cm;
    top: 50%;
    width: 62cm;
  }

  body:after {
    border: 0.1in dashed red;
    border-radius: 4cm;
    box-sizing: padding-box;
    content: '';
    display: block;
    height: 32.6in;
    left: 50%;
    margin: -16.4in -10.15in;
    position: absolute;
    top: 50%;
    width: 20.1in;
  }

  body:before {
    border: 0.1in dashed blue;
    border-radius: 4cm;
    box-sizing: padding-box;
    content: '';
    display: block;
    height: 35in;
    left: 50%;
    margin: -17.6in -11.35in;
    position: absolute;
    top: 50%;
    width: 22.5in;
  }
}