@page {
  margin: 15mm;
  size: 105mm 250mm;
}

@page:first {
  background: url(une.jpg);
  background-size: cover;
  margin: 0;
}

@page:left {
  background: url(fond.jpg) -20mm -15mm;
  background-size: 210mm 250mm;
  margin-left: 20mm;
  @bottom-left-corner {
    content: counter(page);
    font-size: 0.7em;
    text-align: center;
  }
}

@page:right {
  background: url(fond.jpg) -120mm -15mm;
  background-size: 210mm 250mm;
  margin-right: 20mm;
  @bottom-right-corner {
    content: counter(page);
    font-size: 0.7em;
    text-align: center;
  }
}


body {
  color: #222;
  font-size: 10pt;
  font-family: Renaissance, "EB Garamond";
  font-weight: 200;
  line-height: 1.2em;
  margin: auto;
  -weasy-lang: 'fr';
  -weasy-hyphens: auto;
}

body:after {
  background: url(4eme.jpg);
  background-size: cover;
  content: '';
  display: block;
  height: 250mm;
  margin: -15mm -20mm;
  width: 105mm;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-top: 1.4em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2em;
}

h1:before {
  content: '';
  display: block;
  height: 245mm;
}

h2 {
  font-size: 1.41em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

h1 + p {
  margin: 0;
}

h1 + p + p {
  font-style: italic;
  margin: 3em 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-align: justify;
}

ul {
  list-style: square;
  padding-left: 1.5em;
}

ul ul {
  list-style: square;
}

ul, p {
  page-break-inside: avoid;
}

sup {
  font-size: 0.65em;
}

tt {
  font-family: Renaissance;
}

img, object {
  display: block;
  margin: 1em auto 2em;
  font-style: italic;
  page-break-before: avoid;
  text-align: center;
}

.icon {
  font-family: Renaissance;
}

.contents .first {
  font-size: 1.4em;
  margin-top: 1.4em;
  margin-bottom: 0.6em;
}

.contents ul {
  list-style-type: none;
  margin: 0.2em 0;
  padding-left: 0;
}

.contents ul ul {
  padding-left: 0.5em;
}

.contents ul ul li:before {
  content: "- ";
}

.contents ul ul ul li:before {
  content: "+ ";
}
