<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../Style/style.css" />
  </head>

  {% set ms = {'Fondation': '☰', 'Pierre': '■', 'Tuile': '▲'} %}

  <body class="type-{% if '/' in type %}{{ type.split('/') | join('', 0) | lower }}{% elif ' ' in type %}{{ type.split(' ') | join('', 0) | lower }}{% else %}{{ type[:2] | lower }}{% endif %} deck-{{ symbol }}">
    <header>
      <h1>{{ title }}</h1>
    </header>
    <main>
      {{ text }}
      {% if material %}
        {% if type != 'Matériau' %}
          <span id="ou">ou</span>
        {% endif %}
        <div id="ma-text">
          {% for mat in material.split('/') %}<span class="mat-symb">{{ ms[mat] }}</span> {% endfor %}
          {{ value }}
        </div>
      {% endif %}
    </main>
    <aside id="type">{{ type.split('/') | join(' ou ') }}</aside>
    <aside id="symbol">{{ symbol }}</aside>
    {% if material %}
      <aside id="material">
        {% for mat in material.split('/') %}<span class="mat-symb">{{ ms[mat] }}</span> {% endfor %}
        {{ value }}
      </aside>
    {% endif %}
    {% if ma_points %}
      <aside id="ma-points">{{ ma_points }}</aside>
    {% endif %}
    {% if sp_points %}
      <aside id="sp-points">{{ sp_points }}</aside>
    {% endif %}
    {% if mi_points %}
      <aside id="mi-points">{{ mi_points }}</aside>
    {% endif %}
  </body>

</html>
