* {
  box-sizing: border-box;
  color: #222;
  font-size: 3.5cm;
  margin: 0;
  padding: 0;
}

html {
  background: rgba(0, 0, 0, 0.01);
  font-family: "EB Garamond";
  font-weight: 300;
  -weasy-lang: 'fr';
}

body {
  background-color: white;
  background-image: url(fond.png);
  background-size: cover;
  border: solid black 3cm;
  border-radius: 4cm;
  height: 88cm;
  margin: 1em;
  position: relative;
  width: 56cm;
}

header {
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1cm solid transparent;
  border-radius: 2cm 2cm 0 0;
  box-sizing: padding-box;
  height: 8.5cm;
  line-height: 7cm;
  padding: 1.25cm 5em 0 0.75em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

h1 {
  display: inline-block;
  font-weight: normal;
  line-height: 3.3cm;
  text-align: left;
  width: 100%;
}

#type {
  bottom: 2cm;
  left: 5.5cm;
  line-height: 5cm;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  width: 30em;
}

#material, #ma-points, #mi-points, #sp-points {
  font-size: 1.2em;
  line-height: 8cm;
  position: absolute;
  right: 2cm;
  text-align: right;
  top: 0.5cm;
  width: 10em;
}

#symbol {
  bottom: 2cm;
  color: black;
  font-family: Renaissance;
  font-size: 0.5em;
  line-height: 1em;
  opacity: 0.9;
  padding: 0.1em 0.3em;
  position: absolute;
  right: 2cm;
}

img {
  border: 0.4cm solid black;
  bottom: 2cm;
  display: block;
  height: 25cm;
  left: 2cm;
  position: absolute;
  right: 2cm;
  top: 19cm;
  width: 46cm;
}

main {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5mm;
  bottom: 2cm;
  -weasy-hyphens: auto;
  left: 5cm;
  padding: 2cm 2.5cm 2cm 2cm;
  position: absolute;
  right: 2cm;
}

#ma-text {
  text-align: center;
}
.mat-symb {
  border: 0.05em solid;
  border-radius: 0.1em;
  display: inline-block;
  font-family: Renaissance;
  font-size: 1em;
  height: 0.85em;
  line-height: 0.85em;
  text-align: center;
  vertical-align: -15%;
  width: 0.85em;
}

.type-ma {
  background: url(fond.png) top left no-repeat, linear-gradient(
    to bottom, rgba(70, 135, 170, 0.2) 0%) white;
  background-size: cover, cover;
}
.type-ma header {
  border-color: rgba(70, 135, 170, 0.5);
}
.type-ma main {
  font-size: 0;
}
.type-ma #ma-text {
  font-size: 14cm;
  line-height: 20cm;
}

.type-am {
  background: url(fond.png) top left no-repeat, linear-gradient(
    to bottom right,
    rgba(140, 0, 20, 0.2) 0%,
    rgba(140, 0, 20, 0.2) 50%,
    rgba(70, 135, 170, 0.2) 50%,
    rgba(70, 135, 170, 0.2) 100%) white;
  background-size: cover, cover;
}
.type-am header {
  border-color: rgba(120, 0, 20, 0.5);
}
.type-am #ma-text {
  font-size: 6cm;
  line-height: 0.6em;
}
.type-am #ou {
  display: block;
  font-style: italic;
  line-height: 2em;
  opacity: 0.5;
  text-align: center;
}

.type-ac {
  background: url(fond.png) top left no-repeat, linear-gradient(
    to bottom, rgba(140, 0, 20, 0.2) 0%) white;
  background-size: cover, cover;
}
.type-ac header {
  border-color: rgba(120, 0, 20, 0.5);
}

.type-sp {
  background: url(fond.png) top left no-repeat white;
  background-size: cover, cover;
}
.type-sp header {
  border-color: rgba(20, 0, 20, 0.5);
}

.type-mp {
  background: url(fond.png) top left no-repeat, linear-gradient(
    to bottom, rgba(0, 80, 255, 0.7) 0%) white;
  background-size: cover, cover;
}
.type-mp header {
  background-color: rgba(250, 250, 250, 0.3);
  border-color: rgba(250, 250, 250, 0.9);
  padding-right: 2em;
}
.type-mp header h1 {
  color: rgba(250, 250, 250, 0.9);
}
.type-mp #mi-points {
  color: rgba(250, 250, 250, 0.9);
}

.type-mr {
  background: url(fond.png) top left no-repeat, linear-gradient(
    to bottom, rgba(0, 80, 255, 0.7) 0%) white;
  background-size: cover, cover;
}
.type-mr header {
  background-color: rgba(250, 250, 120, 0.2);
  border-color: rgba(230, 200, 0, 0.9);
  padding-right: 2em;
}
.type-mr header h1 {
  color: rgba(230, 200, 0, 0.9);
  max-width: 70%;
}
.type-mr header:before {
  color: rgba(230, 200, 0, 0.9);
  content: '⚜';
  display: inline-block;
  height: 2em;
  line-height: 2em;
  margin-left: -3em;
  vertical-align: top;
}
.type-mr #mi-points {
  color: rgba(230, 200, 0, 0.9);
}


@page {
  margin: 0;
  size: 24.88in 37.4in;
}

@media print {
  html {
    height: 37.4in;
    width: 24.88in;
  }

  body {
    border: solid black 6cm;
    border-radius: 8cm;
    height: 94cm;
    left: 50%;
    margin: -47cm -31cm;
    top: 50%;
    width: 62cm;
  }

/*
  body:after {
    border: 0.1in dashed red;
    border-radius: 4cm;
    box-sizing: padding-box;
    content: '';
    display: block;
    height: 32.6in;
    left: 50%;
    margin: -16.4in -10.15in;
    position: absolute;
    top: 50%;
    width: 20.1in;
  }

  body:before {
    border: 0.1in dashed blue;
    border-radius: 4cm;
    box-sizing: padding-box;
    content: '';
    display: block;
    height: 35in;
    left: 50%;
    margin: -17.6in -11.35in;
    position: absolute;
    top: 50%;
    width: 22.5in;
  }
*/
}
