@import 'backgrounds.css';

* {
  box-sizing: border-box;
  color: #222;
  font-size: 3.5cm;
  margin: 0;
  padding: 0;
}

html {
  background: rgba(0, 0, 0, 0.01);
  font-family: "EB Garamond";
  font-weight: 300;
  -weasy-lang: 'fr';
}

body {
  background-color: white;
  background-size: cover;
  background-position: 50% 50%;
  height: 88cm;
  margin: 1em;
  position: relative;
  width: 56cm;
}

header {
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1cm solid transparent;
  border-radius: 2cm 2cm 0 0;
  box-sizing: padding-box;
  height: 16cm;
  line-height: 7cm;
  padding: 6.75cm 9cm 0 6.5cm;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

h1 {
  display: inline-block;
  font-weight: normal;
  line-height: 3.3cm;
  text-align: left;
  width: 100%;
}

#type {
  border-radius: 0 0 2cm 0;
  color: black;
  display: inline-block;
  font-size: 0.8em;
  font-style: italic;
  margin: 0 auto;
  opacity: 0.7;
  padding: 0.5em 0.8em 0.5em 6.5cm;
  position: absolute;
  top: -2.5em;
  left: 0;
}

#material, #ma-points, #mi-points, #sp-points {
  font-size: 1.2em;
  line-height: 8cm;
  position: absolute;
  right: 7cm;
  text-align: right;
  top: 6cm;
  width: 10em;
}

#symbol {
  color: black;
  font-family: Renaissance;
  font-size: 0.5em;
  line-height: 1em;
  opacity: 0.7;
  padding: 0.5em 6.5cm 0.5em 0.8em;
  position: absolute;
  top: -3.3em;
  right: 0;
}

img {
  border: 0.4cm solid black;
  bottom: 2cm;
  display: block;
  height: 25cm;
  left: 2cm;
  position: absolute;
  right: 2cm;
  top: 19cm;
  width: 46cm;
}

main {
  background: rgba(255, 255, 255, 0.7);
  border-top: 1cm solid transparent;
  border-radius: 0 0 2cm 2cm;
  bottom: 0;
  -weasy-hyphens: auto;
  left: 0;
  padding: 4cm 6.5cm 7.5cm 6.5cm;
  position: absolute;
  right: 0;
}

#ma-text {
  text-align: center;
}
.mat-symb {
  border: 0.05em solid;
  background-color: white;
  border-radius: 0.1em;
  display: inline-block;
  font-family: Renaissance;
  font-size: 1em;
  height: .85em;
  line-height: 0.85em;
  text-align: center;
  vertical-align: -15%;
  width: .85em;
}

.type-ma header,
.type-ma main {
  border-color: rgba(110, 20, 10, 0.5);
}
.type-ma main {
  font-size: 0;
}
.type-ma #ma-text {
  font-size: 6cm;
  line-height: 6cm;
}

.type-am header,
.type-am main {
  border-color: rgba(220, 120, 10, 0.5);
}
.type-am #ma-text {
  font-size: 6cm;
}
.type-am #ou {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.5em;
  opacity: 0.5;
  text-align: center;
}
.type-am #ou:before,
.type-am #ou:after {
  content: ' - ';
}

.type-ac header,
.type-ac main {
  border-color: rgba(220, 120, 10, 0.5);
}

.type-sp header,
.type-sp main {
  border-color: rgba(20, 20, 20, 0.5);
}

.type-mp header,
.type-mp main {
  border-color: rgba(170, 20, 20, 0.9);
  padding-right: 2em;
}
.type-mp header h1 {
  color: rgba(170, 20, 20, 0.9);
}
.type-mp #mi-points {
  color: rgba(170, 20, 20, 0.9);
}

.type-mr header,
.type-mr main {
  border-color: rgba(40, 60, 110, 0.9);
  padding-right: 2em;
}
.type-mr header h1 {
  color: rgba(40, 60, 110, 0.9);
  max-width: 70%;
}
.type-mr header:before {
  color: rgba(40, 60, 110, 0.9);
  content: '⚜';
  display: inline-block;
  height: 2em;
  line-height: 2em;
  margin-left: -3em;
  vertical-align: top;
}
.type-mr #mi-points {
  color: rgba(40, 60, 110, 0.9);
}


@page {
  margin: 0;
  size: 24.88in 37.4in;
}

@media print {
  html {
    height: 37.4in;
    width: 24.88in;
  }

  body {
    /* border: solid black 6cm; */
    height: 94cm;
    left: 50%;
    margin: -47cm -31cm;
    top: 50%;
    width: 62cm;
  }

  /* Trait de coupe intérieur */
  /*
  body:after {
    border: 0.1in dashed red;
    border-radius: 4cm;
    box-sizing: padding-box;
    content: '';
    display: block;
    height: 32.6in;
    left: 50%;
    margin: -16.4in -10.15in;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    width: 20.1in;
    z-index: 5;
  }
 */

  /* Trait de coupe idéal */
  body:before {
    border: 0.1in dashed blue;
    border-radius: 4cm;
    box-sizing: padding-box;
    content: '';
    display: block;
    height: 35in;
    left: 50%;
    margin: -17.6in -11.35in;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    width: 22.5in;
    z-index: 5;
  }
}
